<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">
   <context:annotation-config/>
      <bean id="address" class="com.cgi.annotationbasedconfigurationdemo1.Address">
   
   <property name="hno" value="100"/>
   <property name="street" value="rkpuram"/>
   <property name="city" value="hyd"/>
   </bean>
   <bean id="person" class="com.cgi.annotationbasedconfigurationdemo1.Person">
   
   <property name="age" value="23"></property>
   <property name="name" value="rakesh"></property>
   </bean>
</beans>
